<section class="movies-filters-container" aria-label="List of four filter options for Batman movies">
    <ul>
        <li style="display:inline">
            <button
            type="button"
            aria-label="Button filters movies down to those released in the two thousand and tens"
            [ngClass]="{'current-filter': currentFilter === movieFilters.twoThousandTens}"
            (click)="getFilteredMovies(movieFilters.twoThousandTens)">{{movieFilters.twoThousandTens}}
        </button>
        </li>
        <li style="display:inline">
            <button
            type="button"
            aria-label="Button filters movies down to those released in the two thousands"
            [ngClass]="{'current-filter': currentFilter === movieFilters.twoThousands}"
            (click)="getFilteredMovies(movieFilters.twoThousands)">{{movieFilters.twoThousands}}
        </button>
        </li>
        <li style="display:inline">
            <button
            type="button"
            aria-label="Button filters movies down to those released in the nineteen nineties"
            [ngClass]="{'current-filter': currentFilter === movieFilters.nineteenNineties}"
            (click)="getFilteredMovies(movieFilters.nineteenNineties)">{{movieFilters.nineteenNineties}}
        </button>
        </li>
        <li style="display:inline">
            <button
            type="button"
            aria-label="Button filters movies down to those released in the nineteen eighties"
            [ngClass]="{'current-filter': currentFilter === movieFilters.nineteenEighties}"
            (click)="getFilteredMovies(movieFilters.nineteenEighties)">{{movieFilters.nineteenEighties}}
        </button>
        </li>
    </ul>
</section>