<div class="container">
    <app-movies-filters></app-movies-filters>
    <div *ngFor="let movie of movieMetadata$ | async" class="card">
        <img src="{{movie.poster}}" alt="{{movie.title}} Movie Poster">
        <div class="text-wrapper">
            <h3 class="title">{{movie.title}}</h3>
            <hr class="solid">
            <div class="info-wrapper">
                <span class="rated">{{movie.rated}}</span>
                <span class="runtime">{{movie.runtime}}</span>
                <span class="release">{{movie.released | date:'dd MMM yyyy'}}</span>
            </div>
            <p class="plot">{{movie.plot}}</p>
            <br>
            <br>
            <button type="button" aria-label="Button opens imdb movie page in a new tab" (click)="goToImdbSite(movie.imdbId)">View on IMDB</button>
        </div>
    </div>
</div>