// Movies Filters Colors
$color-filter-inactive: #F7F8F9;
$color-filter-inactive-border: #C2CAD0;
$color-filter-inactive-text: #61696E;

$color-filter-active: #1A72B0;
$color-filter-active-border: #979797;
$color-filter-active-text: #FFFFFF;


// Movies List Colors
$color-rating-border: #8D989D;
$color-rating-text: #8D989D;

$color-imdb-button: #F9B44A;
$color-imdb-button-text: #FFFFFF;

$color-movie-list-card: #E8EBEE;
$color-movie-list-card-border: #303436;

$color-title-text: #303436;
$color-seperator-line: #D8D8D8;
$color-runtime-text: #303436;
$color-released-text: #303436;
$color-plot-text: #303436;